@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');



:root {
    --font-logo: "Lobster", sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

body {
            height: 100vh;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #000000 ;

}

a {
    text-decoration: none;
    color: aliceblue;
}

p {
    color: aliceblue;
    font-size: 14px;
    line-height: 1.5;
}

main {
    position: relative;
    margin-bottom: 44px;
}

section#area-de-login {
    border: 1px solid #363636;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;

}

.image-logo {
    margin: 36px 0  12px 0;
    width: 175px;
    height: 51px;
    background-image: url(../imagens/image-logo.png);
    color: aliceblue;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#formx {
    width: 100%;    
}

#formx > p {
    display: flex;
    justify-content: center;

    
}

.linha {
    position: relative;
    margin: 0 40px;
    font-weight: normal;
    font-size: .8em;
    color: #ffffffb8;
}


.linha::after,
.linha::before {
    content:'';
    position: absolute;
    width: 106px; /* Ajuste o comprimento das linhas */
    height: 0.5px;
    background-color: #ffffff28;
    
}

.linha::before {
     top: 50%;
    left: 0px; /* Ajuste a posição da linha esquerda */
 }
.linha::after {
     top: 50%;
     right: 0px; /* Ajuste a posição da linha direita */

 }

.entr {
    margin: 33px 0 20px 0;

}

.entr a {
    color: #135EF2;
    font-weight: bold;
   
}

.esque {
    margin: 20px 0;
}

.esque a {
    color: #5768fe;

}



form {
    padding: px 0 0 0;
    text-align: center;
}

 div.fromin > input {
    background-color: #121212;
    
 }

 form input {
    border: 1.5px solid #4d4d4d;
    border-radius: 3px;
    height: 37px;
    width: 75%;
    color: aliceblue;  
    
 }

 div.marg {
    margin-bottom: 7px;
 }

 div.botao > input {
    border-radius: 7px;
    background-color: #3441af;
    height: 31px;
    border: none;
    margin: 16px 0 28px 0;
 }

 section#cadastro {
    color: aliceblue;
    border: 1px solid #363636;
    padding: 25px 0;
    width: 350px ;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
 }

 section#cadastro a {
    color: #5768fe;
    text-decoration: none;
    font-weight: bold;
    
 }

 section#baixar-app {
    width: 350px;
    color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 15px;

 }

 div.paragra {
    padding-bottom: 15px;
 }

section#baixar-app img {
    width: 134px;
    height: 45px;   

}

section#baixar-app a {
    display: inline-block;
}

a.mgm {
    margin-right: 8px;
    
} 

footer {
    padding: 0 16px;
    
}

#linksa {
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

a.footalink{
    
    color: rgba(240, 248, 255, 0.658);
    font-size: .8em;
    margin: 0 8px 12px 8px;
    
}

a.footalink:hover {
    text-decoration: underline;
}

#idioma {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

}

.items {
     margin: 8px 20px;
    
}

.items > p {
    color: rgba(240, 248, 255, 0.658);
}

select {
    background-color: transparent;
    color: rgba(240, 248, 255, 0.658);
    border: none; 
}

select:hover {
    cursor: pointer;
}

option {
    color: rgba(0, 0, 0, 0.658);
}


select::-webkit-scrollbar {
    width: 8px;
    background: #222;
}

select::-webkit-scrollbar-thumb {
    background: #5768fe;
    border-radius: 4px;
}

select::-webkit-scrollbar-thumb:hover {
    background: #3441af;
}

